@import "~bootstrap/dist/css/bootstrap.min.css";

.entirePost {
  width: 450px;
  height: 600px;
}
.pictureHolder {
  width: 449px;
  height: 350px;
}
.filledImage {
  height: 99%;
  width: 99%;
}
.stackedText {
  line-height: 1;
  margin-bottom: 0;
}
p {
  font-family: "Roboto", sans-serif;
}
